project:
  type: website

website:
  title: "Oliver Pan"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - href: UCLA Projects.qmd
        text: UCLA Projects
      
page-footer:
rights: "&copy; 2025, Oliver Pan"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    
execute: 
  freeze: auto





