project:
  type: website

website:
  title: "Oliver Pan"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    
execute: 
  freeze: auto





